<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Movie Finder</title>
        <link rel="stylesheet" href="./css/style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
        <script type="text/javascript" src="./js/script.js"></script>
    </head>
    <body>
        <div id="main-container">
            <header>
                <div id="menu">
                    <a href="/">
                        Movie Finder
                    </a>
                </div>
            </header>
            <div id="principal">
                <div id="searcher">
                    <h2><span id="searcherTitle">Start</span> searching</h2>
                    <form onsubmit="return search(this)">
                        <input type="text" minlength="1" id="inputext" name="text" value="" placeholder="Insert a movie name" required="required">
                        <input type="submit" value="search">
                    </form>
                </div>
                <div id="searchResults" style="display: none;">

                </div>
                <div id="movieDetails" style="display: none;">
                    
                </div>
            </div>
            <footer>
                creator: rsertal@inf.upv.es <br>API: TMBD
            </footer>
        </div>
    </body>
</html>